/*nav style*/
.raleway-my{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 250px;
    font-size: 20px;
}
.header{
    background-image: url("Hero-bg.png");
    background-size: 1140px;
    
    
}

.dark{
    color: #4E47FF;
}


 .banner-content{
    margin: 0 auto;
 }

.nav-title{
    font-weight: 800;
    font-size: 35px;
}
nav ul li{
    list-style:none;
}
nav li a{
    text-decoration:none;
    font-size: 16px;
}

.btn{
    background-color:#4E47FF;
    font-weight:bold;
    color:white;
    border: none;
    padding:12px 36px;
    border-radius: 3px;
    align-items: center;
}

.banner-des{
    font-size: 65px;
    font-weight: bold;
}


/*action*/

.action-grt{
    font-weight:bold;
    font-size: 45px;
    color:#252432;

}
.action-des{
  color: #252432;  
}
.hero{
   display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.action-content{
    max-width: 580px;

    
}
.act-pic{
    width: 500px;
    border-radius: 5px;
    
    
}
.pro-title{
    color: #252432;
    font-weight: bold;
    font-size: 38px;
}
.bg-sec{
    background-color: #E5E7FF;
    max-width: 1140px;
    margin: 0 auto;
    padding: 90px 110px;
    text-align: center;
}
.about-items{
    display: flex;
    justify-content: space-between;

}
.item-title{
    font-size: 50px;
    font-weight: bold;
    color:#4E47FF;
    
}
.item-des{
    font-size: 20px;
    color:#000000;
}
.bg-foot{
    background-color: #E5E7FF;
}
.footer-colum{
    font-size: 97px;
    font-weight: bold;
    color:#000000;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap:100px;

}
.footer-colum{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;

}

.card h2{
 font-size: 1.25em;
 font-weight: 700;
}

.card-container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:10px;

}
.card{

    border: 2px solid lavenderblush;
     border-radius: 10px;
    padding: 10px;
    box-shadow: 10px 10px 10px lightblue;

    
}
.card-head{
    font-size: 40px;
    font-weight: bold;
}
.card-picc{
    border: 2px solid blue;
    border-radius: 1px;
    border-style: dashed;
    
}
.card h3{
    font-size: 1.2em;
    font-weight: 600;
}

.logo-head{
    width: 280px;
    height: 140px;
    font-size: 50px;
      color:#4E47FF;
      max-width: 1140px;
       margin: 0 auto;
       margin-top: 50px;;


}

.about ul li {
    list-style: none;
    margin: 0 auto;

  
}
.about li a{
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;

}
.about ul{
    display: flex;

}




 